<!--
    Ecouter l'événement input de la balise input
    Afficher en temps le contenu saisi à la place de "Romain"
-->

<label>
    Prénom : <input type="text" [ngModel]="prenom" (ngModelChange)="prenom = $event">
</label>

<!--
    [prefix]="variableEntree"
    (prefixChange)="variableEntree = $event"
    Dans ce cas on peut combiner comme ça :
    [(prefix)]="variableEntree"
    [()] BANANA IN A BOX
-->

<label>
    Prénom : <input type="text" [(ngModel)]="prenom">
</label>

<p>
    Bonjour {{prenom}} !
</p>
