<!-- <button
  [attr.data-color]="states[0]"
  [style.backgroundColor]="states[0]"
  [class.hidden]="indexShown !== 0"
  [ngClass]="{shown: indexShown === 0}"
  (click)="increment()"
>
  {{ states[0] }}
</button>
<button
  [style.backgroundColor]="states[1]"
  [class.hidden]="indexShown !== 1"
  [ngClass]="{shown: indexShown === 1}"
  [attr.data-color]="states[1]"
  (click)="increment()"
>
  {{ states[1] }}
</button>
<button
  [style.backgroundColor]="states[2]"
  [class.hidden]="indexShown !== 2"
  [ngClass]="{shown: indexShown === 2}"
  [attr.data-color]="states[2]"
  (click)="increment()"
>
  {{ states[2] }}
</button> -->

<!-- <ng-container >
<button
  *ngIf="isLast"
  [style.backgroundColor]="el"
  [class.hidden]="indexShown !== i"
  [ngClass]="{shown: indexShown === i}"
  [attr.data-color]="el"
  (click)="increment()"
>
  {{ el }}
</button>
</ng-container> -->

<button
  *ngFor="let el of states; index as i; last as isLast"
  [style.backgroundColor]="el"
  [class.hidden]="indexShown !== i"
  [ngClass]="{shown: indexShown === i}"
  [attr.data-color]="el"
  (click)="increment()"
>
  {{ el }}
</button>

<ng-template [ngIf]="indexShown === 2">
    <p>Vous avez sélectionné yellow</p>
</ng-template>

<p *ngIf="indexShown === 2">Vous avez sélectionné yellow</p>