<!-- <label>
    Prénom : <input type="text" [value]="prenom" (input)="prenom = $event.target.value">
</label>

<label>
    Prénom : <input type="text" [ngModel]="prenom" (ngModelChange)="prenom = $event">
</label> -->

<label>
    Prénom : <input type="text" [(ngModel)]="prenom">
</label>
<!-- <button (click)="addPrenom()">+</button> -->
<button (click)="liste.push(prenom)">+</button>
<!-- Exercice 2 : Au click de ce bouton, ajouter l'élément dans le tableau -->

<!-- Exercice 1 : Boucler sur le tableau liste (pour afficher les prénoms) -->
<p *ngFor="let prenom of liste" class="item">Bonjour {{ prenom }} !</p>