<form (submit)="ngForm.valid && addUser()" #ngForm="ngForm">
  <div>
    <label>Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="user.name"
      required
      #ngModelName="ngModel"
    />
    <span *ngIf="(ngForm.submitted || ngModelName.touched) && ngModelName.invalid"
      >Le prénom est obligatoire</span
    >
  </div>
  <div>
    <label>Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="user.email"
      email
      #ngModelEmail="ngModel"
    />
    <span
      *ngIf="(ngForm.submitted || ngModelEmail.touched) && ngModelEmail.invalid"
      >L'email n'est pas valide</span
    >
  </div>
  <div>
    <label>Phone</label>
    <input type="tel" name="phone" [(ngModel)]="user.phone" />
  </div>
  <div>
    <button>Add</button>
  </div>
</form>
